/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overscroll-behavior: none;
  -webkit-overflow-scrolling: touch;
}

/* Define the custom font */
@font-face {
  font-family: 'LTS';
  src: url("Fonts/Coluna.otf") format('opentype');
}

/* Basic styles */
body {
  margin: 0;
  text-align: center;
  font-family: 'LTS';
  color: #ffffff;
  font-size: 10vw;
  overscroll-behavior: none;
  -webkit-overflow-scrolling: touch;
}

video {
  height: auto;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

header {
  text-align: center;
  padding: 0;
}

header img {
  width: 20vw;
  max-width: 200px;
  height: auto;
}

.button-container {
  display: flex;
  justify-content: center;
}

.image-button img {
  display: block;
  align-self: center;
  width: 40vw;
  max-width: 200px;
  padding-top: 10px;
  padding-bottom: 2%;
}

@media only screen and (min-width: 1024px) {
  header img {
    width: 10vw;
    max-width: 400px;
  }

  body {
    font-size: 3vw;
  }

  .image-button img {
    width: 10vw;
    max-width: 200px;
    padding-top: 10px;
    padding-bottom: 5%;
    opacity: 0.7;
    transition: opacity 0.3s ease;
  }

  .image-button:hover img,
  .image-button:active img {
    opacity: 1;
  }
}

/* Style for the background video */
.background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

/* Style for icon container */
.icon-container {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  z-index: 2;
}

/* Style for icon links */
.icon-link {
  margin: 0 10px;
}

.icon-link img {
  width: 8vw;
  max-width: 50px;
}
